# Library dependencies for the python code.  You need to install these with
# `pip install -r requirements.txt` before you can run this.

# Neural net and related library
torch==1.10.0+cu113 
torchvision==0.11.1+cu113 
torchaudio===0.10.0+cu113 -f https://download.pytorch.org/whl/cu113/torch_stable.html